<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40"  *ngIf="dish">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
              <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
            <p>{{dish.description}}
                </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button color="primary" mat-button (click)="goBack()">BACK</button>
          <button color="primary" mat-button>LIKE</button>
          <button color="primary" mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="40"  *ngIf="dish">
    <mat-list>
        <h3 matline class='large-font spacer-bottom
        margin-left-title'>
            Comments
        </h3>
        <div *ngFor="let comment of dish.comments" class="margin-left-comment">
          <p class="medium-font margin-corrector">
            {{comment.comment}}
          </p>
          <p class="medium-font margin-corrector">
            {{comment.rating}} Stars
          </p>
          <p class="smaller-font margin-corrector bottom-spacement">
            -- {{comment.author}} {{comment.date | date}}
          </p>
          <div *ngIf="feedbackForm.valid">
            <p matLine class="medium-font margin-corrector"> {{feedbackForm.value.comment}} </p>
            <p matLine class="medium-font margin-corrector"> {{feedbackForm.value.rating}} Stars </p>
            <p matLine class="smaller-font margin-corrector bottom-spacement">
              -- {{feedbackForm.value.author}}
            </p>
          </div>
        </div>
      </mat-list>
      <div>
        <h3 class="margin-left-title">Share your comment</h3>
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field>
              <input matInput formControlName="author" placeholder="Name"
              type="text" required>
              <mat-error *ngIf="formErrors.author">
                  {{ formErrors.author }}
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-slider
              formControlName="rating"
              [ngModel]='sliderValue'
              [min]="0"
              [max]="5"
              [step]="1"
              [tickInterval]="1"
              thumbLabel>
            </mat-slider>
          </div>
          <div>
            <mat-form-field>
              <textarea matInput formControlName="comment" placeholder="Your Comment"
              rows="12"></textarea>
              <mat-error *ngIf="formErrors.comment">
                {{ formErrors.comment }}
            </mat-error>
            </mat-form-field>
          </div>
        <button type="submit" mat-button class="background-primary
            text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
        </form>
      </div>
    </div>
</div>
