
@media screen and (min-width: 1200px) {
    .margin-corrector {
        margin-bottom: 3px;
        margin-top: 3px;
    }

    .large-font {
        font-size: 28px;
    }

    .medium-font {
        font-size: 15px;
    }

    .smaller-font {
        font-size: 13px;
    }

    .bottom-spacement {
        margin-bottom: 40px;
    }

    .encloser-top {
        margin-top: -110px;
    }

    .spacer-bottom {
        padding-bottom: 15px;
    }

    .margin-left-title {
        margin-left: -110px;
    }

    .margin-left-content {
        margin-left: -90px;
    }

    .max-height-card {
        max-height: 500px;
    }

    .max-height-comment {
        max-height: 500px;
    }
}
