.marginCorrector {
    margin-bottom: 3px;
    margin-top: 3px;
}

.largeFont {
    font-size: 25px;
}

.mediumFont {
    font-size: 15px;
}

.smallerFont {
    font-size: 13px;
}

.bottomSpacement {
    margin-bottom: 40px;
}

.encloserTop {
    margin-top: -125px;
}

.spacerBottom {
    padding-bottom: 15px;
}

.marginLeftTitle {
    margin-left: -110px;
}

.marginLeftContent {
    margin-left: -90px;
}