    .margin-corrector {
        margin-bottom: 3px;
        margin-top: 3px;
    }

    .large-font {
        font-size: 28px;
    }

    .medium-font {
        font-size: 15px;
    }

    .smaller-font {
        font-size: 13px;
    }

    .bottom-spacement {
        margin-bottom: 40px;
    }

    .spacer-bottom {
        padding-bottom: 15px;
    }

    mat-form-field {
        display: block;
    }
@media screen and (min-width: 1280px) {
    .margin-left-title {
        margin-left: -25px;
    }

    .encloser-top {
        margin-top: -70px;
    }
}
